<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.multiscreenapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OneApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiScreenApp">

        <!-- Splash Screen (Launcher Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MultiScreenApp"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <!-- Main Application Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MultiScreenApp"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- AdMob Configuration -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="${applicationId}.mobileadsinitprovider"
            tools:node="remove" />

    </application>

</manifest>